@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* No estoy seguro si me toma estas configuraciones */

/* configuracion navbar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #000;
}

header a {
    text-decoration: none;
    color: #ffff;
    cursor: pointer;
}


.nav-list {
    list-style: none;
    display: flex;
}

.nav-list .list-elements{
    padding: 0 10px;
}

.nav-list .list-elements a{
    transition: all 0.3s ease;
}

.nav-list .list-elements a:hover{
    color: #fba322;
}

/* configuracion navbar */

/* Configuracion boton */

.btn a{
    background-color: rgb(208, 154, 17);
    padding: 10px 15px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.btn a:hover {
    color:#ffff;
    background-color: rgb(207, 133, 22);
}

/* configuracion boton */

/* confugarion imagen logo  */

.main-logo {
    padding: 10px;
    max-height: 90px;
    display: block;
    width: auto;
    opacity: 1;
    max-width: 100%;
    border-style: none;
    cursor: pointer;
}

/* confugarion imagen logo  */

/* configuracion imagen bievenida */

/* porque estas dos etiquetas son irrelevantes?*/



/* configuracion imagen bievenida */

.wrap {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items:center;
    justify-content:flex-start;
    background: linear-gradient(to left, rgb(0, 0, 0, .5), rgb(0, 0, 0, .5)), url(images/hamburguesa-main.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Bebas Neue', sans-serif;
}

.wrap .h-1{
    display: flex;
    align-items: center;
    color: #ffff;
    margin-left: 5%;
    width: 70%;
    height: 50vh;
    /* border: 2px solid red; */
    /* esta propiedad me da el margen con el costado de la imagen  */
    /* text-align: center; */
    /* width: 50%; */
}

.wrap .h-1 h1{
    font-size: 80px;
    /* border: 2px solid blue; */
}


/* Configuracion de servicios*/

.service {
    width: 100%;
    height: 100%;
    letter-spacing: 0.03rem;
    line-height: 1.6;
    margin-bottom: 100px;
}

.title {
    text-align: center;
    font-size: 40px;
    color: #000;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Bebas Neue', sans-serif;
}

.title-us {
    text-align: center;
    /* font-size: 40px; */
    color: #000;
    margin-top: 50px;
    font-weight: 100;
    font-family: 'Bebas Neue', sans-serif;
}

.paragraph-us {
    text-align: center;
    font-size: 20px;
    color: #000;
    margin-top: 40px;
    font-weight: 60px;
    font-family: 'PT Sans Narrow', sans-serif;
    /* font-family: 'Bebas Neue', sans-serif; */
}


.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.container .card {
    width: 338px;
    height: 438px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    /* width: 330px; */
    height: 220px;
}

.container .card h4{
    font-weight: 600;
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 20px;
}

.container a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.container a:hover {
    color: #fba322;
}

/* Configuracion de servicios */

/* galeria de fotos  */

.photos-section{
    display:flex;
    align-items: center;
    justify-content: flex-start;
}


.gallery {
    display: flex;
    flex-flow: wrap;
    justify-content:center;
    margin-top: 100px;
    margin-left: 20%;
    margin-bottom: 100px;
    margin-right: 5%;
    padding: 0;
}

.gallery img {
    max-width: 200px;
    padding: 1rem;
    border-radius: 30px;
}

.title-photos {
    display: flex;
    margin-left: 20px;
    color: #000;
    font-weight: 100;
    font-family: 'Bebas Neue', sans-serif;
}

/* galeria de fotos  */

/* formulario */

.form {
    width: 50%;
    height: 440px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw -40px);
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
    position: relative;
}

.form h2{
    margin: 10px 0;
    padding-bottom: 10px;
    width: 70%;
    color: grey;
    border-bottom: 3px solid black;
}

.form input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Bebas Neue', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid grey;
}

.form input:focus{
    border-bottom: 2px solid lightblue;
}

.form p::before{
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: grey;
}

.form button{
    float: center;
    padding: 8px 12px;
    font-family: 'Bebas Neue', sans-serif;
    border: 2px solid grey;
    background: 0;
    color: #000;
    cursor: pointer;
    transition: all .3s;
    border-radius: 6px;
}

.form button:hover{
    color: #fba322;
}


/* formulario */

/* pie de pagina */

footer {
    background-color: #000;
    height: auto;
    width: 100%;
    font-family: 'Bebas Neue', sans-serif;
    padding-top: 40px;
    /* color: #ffff; */
    color: #000;
    /* este color lo puse porque mi background no me agarraba */
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

.footer-content h3{
    margin-left: 35px;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #ffff;
}

.socials a{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: #fba322;
}
/* redes sociales */
.footer-bottom {
    background: #000;
    color: white;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/* pie de pagina */

/* Main container  */

.main-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}